In [1]:
# 1. 화면에 hello world 문자열을 출력하세요.

print ('hello world')

hello world

In [5]:
# 7. print() 함수를 사용하여 다음과 같이 출력하세요 

# naver;kakao;sk;samsung

print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [ ]:
#2. 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [1]:
print ("Mary's cosmetics")

Mary's cosmetics

In [ ]:
# 3. 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야".

In [3]:
print ('''신씨가 소리질렀다. "도둑이야".''')

신씨가 소리질렀다. "도둑이야".

In [ ]:
#4. 화면에 C:\Windows를 출력하세요.

In [11]:
print("C:\Windows")

C:\Windows

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
/var/folders/10/8n5gt9b51l79f63jwf8v3j540000gn/T/ipykernel_66400/3538380946.py:1: SyntaxWarning: invalid escape sequence '\W'
  print("C:\Windows")

In [ ]:
#5. 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
#print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n : 줄바꿈, \t : 탭

In [13]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
#6. print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print ("오늘은", "일요일")
#오늘은 일요일

In [15]:
print ("오늘은", "일요일")

오늘은 일요일

In [ ]:
#8.print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung

In [17]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [ ]:
# 9.다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
# print("first");print("second")

In [25]:
print("first""second")

firstsecond

In [23]:
print("first", end=""); print("second")

firstsecond

In [ ]:
# 10. 5/3의 결과를 화면에 출력하세요

In [27]:
print (5/3)

1.6666666666666667

In [ ]:
# 11. 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [33]:
삼성전자 = 50000
총평가금액 = 삼성전자*10
print(총평가금액)

500000

In [ ]:
# 12. 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

# 항목	값
# 시가총액	298조
# 현재가	50,000원
# PER	15.79

# 바인딩 뜻?

In [35]:
시가총액 = "298조"
현재가 = "50,000원"
PER = 15.79
print (시가총액, 현재가, PER)

298조 50,000원 15.79

In [37]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
# 13.변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
# >> s = "hello"
# >> t = "python

# 두 변수를 이용하여 아래와 같이 출력해보세요.
# hello! python

In [51]:
s="hello"
t="python"
print (s+"!", t)

hello! python

In [ ]:
# 14.아래 코드의 실행 결과를 예상해보세요.
# >> 2 + 2 * 3 
# >> 8

In [53]:
2 + 2 * 3

8

In [ ]:
# 15. type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
# >> a = 128
# >> print (type(a))
# <class 'int'>

# 아래 변수에 바인딩된 값의 타입을 판별해보세요.
# >> a = "132"
# >> 문자열

In [55]:
a= "132"
print(type(a))

<class 'str'>

In [ ]:
# 16. 문자열 '720'를 정수형으로 변환해보세요.
# >> num_str = "720"

In [ ]:
# 잘 모르겠음.

In [ ]:
# 17. 정수 100을 문자열 '100'으로 변환해보세요
# num = 100

In [59]:
num = 100 
result = str(num) 
print(result, type(result))

100 <class 'str'>

In [ ]:
# 18. 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [61]:
str = "15.79"
result = float(str)
print(result, type(result))

15.79 <class 'float'>

In [ ]:
# 19. year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
# year = "2020"

In [67]:
year = "2020"
result = int(year)
print (result+4, result+3, result+2)

2024 2023 2022

In [ ]:
# 20. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [79]:
price = 48584
총금액 = price * 36
print(총금액)

1749024

In [ ]:
# 21.letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
# >> letters = 'python'

In [85]:
letters = 'python'
print(letters[0],letters[2])

p t

In [ ]:
# 22. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
# >> license_plate = "24가 2210"

In [87]:
license_plate = "24가 2210"
print(license_plate[4:8])

2210

In [ ]:
# 23. 아래의 문자열에서 '홀'만 출력하세요.
# >> string = "홀짝홀짝홀짝"

In [97]:
string = "홀짝홀짝홀짝"
print(string[0]+string[2]+string[4])

홀홀홀

In [ ]:
# 24. 문자열을 거꾸로 뒤집어 출력하세요
# string = "PYTHON"

In [111]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
# 25.아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
# >> phone_number = "010-1111-2222"

In [119]:
phone_number = "010-1111-2222"
print(phone_number[0:3],phone_number[4:8],phone_number[9:13])

010 1111 2222

In [ ]:
# 26. 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
# phone_number = "010-1111-2222"

In [121]:
phone_number = "010-1111-2222"
print(phone_number[0:3]+phone_number[4:8]+phone_number[9:13])

01011112222

In [ ]:
# 27. url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
# >> url = "http://sharebook.kr"

# 왜 [-1:-2]가 아닌건지 모르겠음

In [133]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [ ]:
# # 28. 아래 코드의 실행 결과를 예상해보세요.

# >> lang = 'python'
# >> lang[0] = 'P'
# >> print(lang)
# >> P

In [135]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [ ]:
# 29. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
# >> string = 'abcdfe2a354a32a'

In [137]:
string = 'abcdfe2a354a32a'
string = string.replace('a','A')
print(string)

Abcdfe2A354A32A

In [ ]:
# 30. 아래 코드의 실행 결과를 예상해보세요.
# >> string = 'abcd'
# >> string.replace('b', 'B')
# >> print(string)

>> aBcd

In [139]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [253]:
#31
a="3"
b="4"
print(a+b)

>>34

34

In [255]:
#32

print("HI" * 3)
# >> HIHIHI

HIHIHI

In [141]:
#33.
print ('-' *80)

--------------------------------------------------------------------------------

In [165]:
#34. 
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2+' '
print(t3*4)

python java python java python java python java

In [173]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이 : %d" % (name1, age1))
print("이름: %s 나이 : %d" % (name2, age2))

이름: 김민수 나이 : 10
이름: 이철희 나이 : 13

In [175]:
#36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이 : {}".format(name1,age1))
print("이름: {} 나이 : {}".format(name2,age2))

이름: 김민수 나이 : 10
이름: 이철희 나이 : 13

In [185]:
#37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름 : {name1} 나이 :{age1}")
print(f"이름 : {name2} 나이 :{age2}")

이름 : 김민수 나이 :10
이름 : 이철희 나이 :13

In [203]:
#38
상장주식수 = "5,969,782,550"
print(상장주식수, type(상장주식수))
상장주식수_쉼표제거 = 상장주식수.replace(',',"")
print(상장주식수_쉼표제거, type(상장주식수_쉼표제거))
상장주식수_정수int = int(상장주식수_쉼표제거)
print(상장주식수_정수int)

5,969,782,550 <class 'str'>
5969782550 <class 'str'>
5969782550

In [205]:
#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [215]:
#40

data = "   삼성전자    "
strip = data.strip()
print(strip)

삼성전자

In [213]:
#41

ticker = "btc_krw"
data = ticker.upper()
print(data)

BTC_KRW

In [219]:
#42

ticker = "BTC_KRW"
ticker_lower = ticker.lower()
print(ticker_lower)

btc_krw

In [221]:
#43

data = 'hello'
data1 = data.capitalize()
print(data1)

Hello

In [223]:
#44

file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [235]:
#45

file_name = "보고서.xlsx"
file_name.endswith(("xlsx" or "xls"))

True

In [239]:
#46 

file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [243]:
#47

a = "hello world"
a.split(" ")

['hello', 'world']

In [247]:
#48 

ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [249]:
#49

date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [251]:
#50 

data = "039490     "
strip_data = data.rstrip()
print(strip_data)

039490